@import url("https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap");
* {
  box-sizing: border-box; }

body {
  margin: 0 auto;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  max-width: 1600px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #1e1e1e;
  padding: 0; }

section {
  padding: 5em 0;
  margin: 0 auto; }
  @media (min-width: 240px) and (max-width: 576px), (min-width: 577px) and (max-width: 767px) {
    section {
      padding: 2em 0; } }

.line {
  width: 4em;
  border-bottom: 1px solid #1e1e1e;
  margin: 0 auto; }

.container {
  margin: 0 10%; }

h2 {
  font-size: 2em;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 600;
  text-align: center;
  color: #1e1e1e;
  margin: 0 auto;
  padding: 1em;
  padding-top: 2.4em; }
  @media (min-width: 240px) and (max-width: 576px), (min-width: 577px) and (max-width: 767px) {
    h2 {
      font-size: 1.4em;
      margin-top: 0.6em; } }

header {
  height: 100vh; }

.navbar {
  position: fixed;
  display: flex;
  z-index: 100;
  border-bottom: solid 1px #797979;
  max-width: 1600px;
  width: 100%;
  height: 86px;
  margin: 0 auto;
  transition: 0.5s;
  box-shadow: none;
  background-color: transparent; }
  .navbar .logo {
    width: 50%; }
    @media (min-width: 1200px) and (max-width: 1599px), (min-width: 992px) and (max-width: 1199px) {
      .navbar .logo {
        width: 40%; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .navbar .logo {
        width: 30%; } }
    @media (min-width: 577px) and (max-width: 767px), (min-width: 240px) and (max-width: 576px) {
      .navbar .logo {
        width: 80%; } }
    .navbar .logo .logo--img {
      width: 120px;
      height: 100%;
      margin-left: 2em;
      background-image: url("../images/logo_white.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-size: 100%;
      background-position: center;
      transition: 0.5s; }
      @media (min-width: 577px) and (max-width: 767px), (min-width: 240px) and (max-width: 576px) {
        .navbar .logo .logo--img {
          background-image: url("../images/logo_black.png"); } }
  .navbar .menu {
    width: 50%;
    margin: 0 auto; }
    @media (min-width: 1200px) and (max-width: 1599px), (min-width: 992px) and (max-width: 1199px) {
      .navbar .menu {
        width: 60%; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .navbar .menu {
        width: 70%; } }
    .navbar .menu .menu__list {
      list-style: none;
      display: flex;
      margin-right: 2em; }
      .navbar .menu .menu__list .menu__list--item {
        padding: 20px 0;
        margin: 0 auto; }
        .navbar .menu .menu__list .menu__list--item .menu__list--link {
          text-decoration: none;
          color: #fff;
          text-transform: uppercase;
          font-family: Helvetica, Arial, sans-serif;
          letter-spacing: 0.1em;
          font-weight: 400;
          cursor: pointer; }
          .navbar .menu .menu__list .menu__list--item .menu__list--link:hover {
            color: #797979;
            transition: 0.6s; }

.nav-toggle {
  display: none; }

@media (min-width: 577px) and (max-width: 767px), (min-width: 240px) and (max-width: 576px) {
  .navbar {
    background-color: rgba(250, 250, 250, 0.9);
    height: 74px;
    box-shadow: none;
    border-bottom: 2px solid #1e1e1e;
    position: fixed; }

  #menu {
    display: flex;
    position: absolute;
    background: rgba(250, 250, 250, 0.9);
    top: 100%;
    left: 0;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform .4s ease-in-out; }
    #menu .menu__list {
      display: flex;
      flex-direction: column; }
      #menu .menu__list .menu__list--item {
        margin: 0;
        padding: 0.8em 0; }
        #menu .menu__list .menu__list--item .menu__list--link {
          color: #1e1e1e;
          padding: 1em;
          font-size: 0.8em; }

  #nav-toggle:checked + #menu {
    transform: scale(1, 1); }

  #nav-toggle:checked ~ #menu a {
    opacity: 1;
    transition: opacity .25s ease-in-out .35s; }

  .nav-toggle-label {
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center; }

  .hamburger {
    display: block;
    background: #797979;
    height: 3px;
    width: 30px;
    border-radius: 2px;
    position: relative;
    transition: all .5s ease-in-out; }
    .hamburger:before {
      display: block;
      background: #797979;
      height: 3px;
      width: 30px;
      border-radius: 2px;
      position: relative;
      transition: all .5s ease-in-out;
      content: '';
      position: absolute;
      bottom: 10px; }
    .hamburger:after {
      display: block;
      background: #797979;
      height: 3px;
      width: 30px;
      border-radius: 2px;
      position: relative;
      transition: all .5s ease-in-out;
      content: '';
      position: absolute;
      top: 10px; } }
.slideshow {
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 100vh; }

.slideshow__img {
  position: absolute;
  z-index: 1;
  opacity: 0;
  background-position: 0% 0%;
  animation-name: slideshow;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed; }
  @media (min-width: 992px) and (max-width: 1199px), (min-width: 768px) and (max-width: 991px), (min-width: 577px) and (max-width: 767px), (min-width: 240px) and (max-width: 576px) {
    .slideshow__img {
      background-size: cover;
      width: 100%;
      background-position: 0% 0%; } }

.slideshow__img:nth-child(1) {
  animation-delay: 0s;
  background-image: url("../images/head-background/back-06.jpg"); }

.slideshow__img:nth-child(2) {
  animation-delay: 10s;
  background-image: url("../images/head-background/back-04.jpg"); }

.slideshow__img:nth-child(3) {
  animation-delay: 20s;
  background-image: url("../images/head-background/back-05.jpg"); }

@keyframes slideshow {
  0% {
    opacity: 0; }
  11.11% {
    opacity: 1; }
  33.33% {
    opacity: 1; }
  44.44% {
    opacity: 0; }
  100% {
    opacity: 0; } }
.hero {
  position: absolute;
  margin: 0 auto;
  top: 16%;
  max-width: 1600px;
  width: 100%;
  z-index: 2; }
  @media (min-width: 992px) and (max-width: 1199px), (min-width: 577px) and (max-width: 767px), (min-width: 240px) and (max-width: 576px) {
    .hero {
      top: 20%; } }
  .hero .hero--content {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .hero .hero--content .hero--img {
      width: 520px;
      height: 100%;
      margin: 0 auto; }
      @media (min-width: 577px) and (max-width: 767px), (min-width: 240px) and (max-width: 576px) {
        .hero .hero--content .hero--img {
          width: 9em; } }
    .hero .hero--content h2 {
      color: #fff;
      font-size: 2.8em;
      padding-top: 0;
      letter-spacing: 0.5em;
      font-weight: 300; }
      @media (min-width: 768px) and (max-width: 991px) {
        .hero .hero--content h2 {
          padding: 0 2em;
          margin-top: 0;
          font-size: 3em; } }
      @media (min-width: 577px) and (max-width: 767px), (min-width: 240px) and (max-width: 576px) {
        .hero .hero--content h2 {
          font-size: 1.5em;
          letter-spacing: 0.1em;
          margin: 0;
          padding: 0 4em; } }

.button__scroll--down {
  width: 80px;
  height: 60px;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10; }

.button__scroll--down::after {
  content: '';
  display: block;
  border-bottom: 1px solid #FFF;
  border-right: 1px solid #FFF;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  transform: rotate(45deg);
  width: 20px;
  height: 20px;
  bottom: 25px;
  animation: scrollDown 0.5s infinite alternate; }

.button__scroll--down::before {
  content: '';
  display: block;
  border-bottom: 1px solid #FFF;
  border-right: 1px solid #FFF;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  width: 40px;
  height: 40px;
  transform: rotate(45deg);
  animation: scrollDown 0.5s infinite alternate; }

@keyframes scrollDown {
  0% {
    opacity: 1;
    -webkit-transform: rotate(45deg) translate(0px);
    -ms-transform: rotate(45deg) translate(0px);
    transform: rotate(45deg) translate(0px); }
  100% {
    opacity: 0.5;
    -webkit-transform: rotate(45deg) translate(3px, 3px);
    -ms-transform: rotate(45deg) translate(3px, 3px);
    transform: rotate(45deg) translate(3px, 3px); } }
.icons__container {
  margin-top: 8em;
  margin-bottom: 8em;
  display: flex;
  justify-content: space-around; }
  @media (min-width: 768px) and (max-width: 991px) {
    .icons__container {
      margin: 1em 0; } }
  @media (min-width: 577px) and (max-width: 767px), (min-width: 240px) and (max-width: 576px) {
    .icons__container {
      flex-direction: column;
      align-items: center;
      margin: 0; } }
  .icons__container .icons__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20em;
    height: 100%; }
    .icons__container .icons__content .icons__content--icon {
      width: 4em;
      height: 4em;
      background-repeat: no-repeat;
      background-size: cover;
      background-size: 100%;
      background-position: center; }
    .icons__container .icons__content .icons--first {
      background-image: url("../images/icons/graph-arrow.png"); }
    .icons__container .icons__content .icons--second {
      background-image: url("../images/icons/infinity.png"); }
    .icons__container .icons__content .icons--third {
      background-image: url("../images/icons/earth.png"); }
    .icons__container .icons__content .icons__content--caption {
      margin: 2em 0;
      font-family: "Open Sans", sans-serif;
      text-transform: uppercase;
      color: #1e1e1e;
      letter-spacing: 0.3em;
      font-size: 1.4em;
      text-align: center; }

.about {
  background-color: #1e1e1e;
  color: #fff; }
  .about .about__head {
    color: #fff; }
  .about .about__line {
    border-bottom: 1px solid #fff; }
  .about .about__container {
    margin-top: 3.5em; }
    .about .about__container .about__content {
      display: flex;
      flex-direction: column;
      margin-bottom: 2em; }
      .about .about__container .about__content h3 {
        position: relative;
        text-align: center;
        font-family: "Open Sans", sans-serif;
        letter-spacing: 0.1em;
        font-size: 1.8em;
        color: #d3d3d3;
        font-weight: 600;
        letter-spacing: 0.9em;
        text-transform: uppercase; }
        @media (min-width: 240px) and (max-width: 576px), (min-width: 577px) and (max-width: 767px) {
          .about .about__container .about__content h3 {
            letter-spacing: 0.5em; } }
        .about .about__container .about__content h3 span {
          position: absolute;
          font-family: Helvetica, Arial, sans-serif;
          letter-spacing: 0.2em;
          font-size: 0.4em;
          color: #d3d3d3;
          font-weight: 400;
          bottom: 3px;
          text-transform: lowercase; }
      .about .about__container .about__content p {
        text-align: center;
        font-family: "Open Sans", sans-serif;
        font-weight: 300;
        color: #d3d3d3;
        line-height: 1.6em;
        letter-spacing: 0.1em; }
        @media (min-width: 240px) and (max-width: 576px), (min-width: 577px) and (max-width: 767px) {
          .about .about__container .about__content p {
            line-height: 2em; } }

.backtoup__button {
  position: fixed;
  bottom: 7em;
  right: 7em;
  width: 3.5em;
  height: 3.5em;
  text-decoration: none;
  background-image: url("../images/button/button_up.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
  background-position: center;
  visibility: hidden; }
  @media (min-width: 240px) and (max-width: 576px) {
    .backtoup__button {
      display: none; } }
  .backtoup__button:hover {
    background-image: url("../images/button/button_up--hover.png"); }

.leaders__container {
  margin-top: 3.5em;
  margin-bottom: 6em; }

.leaders__content {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .leaders__content {
      width: 100%; } }
  @media (min-width: 768px) and (max-width: 991px), (min-width: 577px) and (max-width: 767px), (min-width: 240px) and (max-width: 576px) {
    .leaders__content {
      flex-direction: column;
      justify-content: center;
      align-items: center; } }
  .leaders__content .leaders__photo {
    width: 30%;
    position: relative; }
    @media (min-width: 992px) and (max-width: 1199px) {
      .leaders__content .leaders__photo {
        width: 30%; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .leaders__content .leaders__photo {
        width: 60%;
        margin: 10% 0; } }
    @media (min-width: 577px) and (max-width: 767px) {
      .leaders__content .leaders__photo {
        width: 50%;
        margin: 10% 0; } }
    @media (min-width: 240px) and (max-width: 576px) {
      .leaders__content .leaders__photo {
        width: 90%;
        margin: 10% 0; } }
    .leaders__content .leaders__photo img {
      display: block;
      width: 100%; }
    .leaders__content .leaders__photo .leaders__layer {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      opacity: 0;
      transition: 1.5s; }
      .leaders__content .leaders__photo .leaders__layer:hover {
        opacity: 1; }
      .leaders__content .leaders__photo .leaders__layer .leaders__desc {
        background-color: rgba(0, 0, 0, 0.6);
        height: 100%;
        width: 100%; }
        .leaders__content .leaders__photo .leaders__layer .leaders__desc .leaders__desc--name {
          padding-top: 10%;
          font-family: "Open Sans", sans-serif;
          font-size: 1.4em;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          color: #fff;
          text-align: center;
          margin: 1em 0; }
          @media (min-width: 1200px) and (max-width: 1599px), (min-width: 1600px) {
            .leaders__content .leaders__photo .leaders__layer .leaders__desc .leaders__desc--name {
              font-size: 1.2em; } }
          @media (min-width: 768px) and (max-width: 991px), (min-width: 992px) and (max-width: 1199px) {
            .leaders__content .leaders__photo .leaders__layer .leaders__desc .leaders__desc--name {
              font-size: 2em; } }
          @media (min-width: 240px) and (max-width: 576px), (min-width: 577px) and (max-width: 767px) {
            .leaders__content .leaders__photo .leaders__layer .leaders__desc .leaders__desc--name {
              font-size: 1.6em; } }
        .leaders__content .leaders__photo .leaders__layer .leaders__desc .leaders__desc--status {
          font-size: 1em;
          color: #fff;
          text-align: center;
          letter-spacing: 0.3em; }
          @media (min-width: 768px) and (max-width: 991px), (min-width: 992px) and (max-width: 1199px) {
            .leaders__content .leaders__photo .leaders__layer .leaders__desc .leaders__desc--status {
              font-size: 1.4em; } }
          @media (min-width: 240px) and (max-width: 576px), (min-width: 577px) and (max-width: 767px) {
            .leaders__content .leaders__photo .leaders__layer .leaders__desc .leaders__desc--status {
              font-size: 1em; } }
        .leaders__content .leaders__photo .leaders__layer .leaders__desc .leaders__desc--line {
          margin: 0 auto;
          width: 20%;
          border-bottom: solid 1px #797979; }
        .leaders__content .leaders__photo .leaders__layer .leaders__desc .leaders__desc--desc {
          font-family: Helvetica, Arial, sans-serif;
          text-align: center;
          padding: 0 10% 12% 10%;
          color: #fff;
          letter-spacing: 0.2em;
          font-weight: 300;
          font-size: 10px;
          line-height: 1.5em; }
          @media (min-width: 992px) and (max-width: 1199px), (min-width: 768px) and (max-width: 991px), (min-width: 240px) and (max-width: 576px), (min-width: 577px) and (max-width: 767px) {
            .leaders__content .leaders__photo .leaders__layer .leaders__desc .leaders__desc--desc {
              display: none; } }
          @media (min-width: 1600px) {
            .leaders__content .leaders__photo .leaders__layer .leaders__desc .leaders__desc--desc {
              font-size: 0.9em;
              line-height: 1.3em; } }
          @media (min-width: 1200px) and (max-width: 1599px) {
            .leaders__content .leaders__photo .leaders__layer .leaders__desc .leaders__desc--desc {
              font-size: 0.8em;
              line-height: 1em; } }

.sentence {
  background-color: #1e1e1e; }
  .sentence .sentence__container .sentence__head {
    color: #d3d3d3;
    font-size: 2.2em;
    padding: 0;
    font-weight: 300; }
    @media (min-width: 240px) and (max-width: 576px), (min-width: 577px) and (max-width: 767px) {
      .sentence .sentence__container .sentence__head {
        font-size: 1.4em; } }

.contact__container {
  padding-top: 5em;
  padding-bottom: 6em;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  @media (min-width: 768px) and (max-width: 991px), (min-width: 577px) and (max-width: 767px), (min-width: 240px) and (max-width: 576px) {
    .contact__container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 0; } }
  .contact__container .contact__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%; }
    @media (min-width: 768px) and (max-width: 991px), (min-width: 577px) and (max-width: 767px), (min-width: 240px) and (max-width: 576px) {
      .contact__container .contact__content {
        width: 100%;
        margin-bottom: 20px; } }
    .contact__container .contact__content .contact__icon {
      width: 2em;
      height: 2em;
      background-repeat: no-repeat;
      background-size: cover;
      background-size: 100%;
      background-position: center; }
    .contact__container .contact__content .icon--address {
      background-image: url("../images/icons/location.png"); }
    .contact__container .contact__content .icon--phone {
      background-image: url("../images/icons/phone.png"); }
    .contact__container .contact__content .icon--mail {
      background-image: url("../images/icons/mail.png"); }
    .contact__container .contact__content h4 {
      text-transform: uppercase;
      font-family: "Open Sans", sans-serif;
      font-size: 1.2em;
      letter-spacing: 0.1em;
      text-align: center;
      padding: 0; }
    .contact__container .contact__content a {
      text-decoration: none;
      color: #1e1e1e;
      padding-top: 0.5em;
      font-family: "Open Sans", sans-serif; }
    .contact__container .contact__content p {
      font-family: "Open Sans", sans-serif;
      line-height: 1.2em;
      text-align: center; }

footer {
  background-color: #1e1e1e; }
  footer .footer__container {
    border: solid 2px #1e1e1e; }
    footer .footer__container p {
      color: #fff;
      font-family: "Open Sans", sans-serif;
      letter-spacing: 0.5em;
      text-align: center;
      padding: 1em;
      font-size: 0.8em; }
      @media (min-width: 768px) and (max-width: 991px), (min-width: 577px) and (max-width: 767px), (min-width: 240px) and (max-width: 576px) {
        footer .footer__container p {
          font-size: 0.4em; } }

/*# sourceMappingURL=style.css.map */
