@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');

$black: #1e1e1e; //rgb(30, 30, 30)
$white: #fff;
$grey: #797979; //rgb(121,121,121)
$lightgrey: #d3d3d3;
$font01: Helvetica, Arial, sans-serif; 
$font02: 'Open Sans', sans-serif;

//------RWD------
$max: "(min-width: 1600px)";
$desktop: "(min-width: 1200px) and (max-width: 1599px)";
$tablet: "(min-width: 992px) and (max-width: 1199px)";
$smartphone: "(min-width: 768px) and (max-width: 991px)";
$phone: "(min-width: 577px) and (max-width: 767px)";
$smallphone: "(min-width: 240px) and (max-width: 576px)";



* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: $font01;
    font-size: 14px;
    max-width: 1600px;
    width: 100%;
    height: 100%;
    background-color: $white;
    color: $black;
    padding: 0;
}

section {
    padding: 5em 0;
    margin: 0 auto;
    @media #{ $smallphone, $phone} { 
        padding: 2em 0;
    }
}

.line {
    width: 4em;
    border-bottom: 1px solid $black;
    margin: 0 auto;
 }

.container {
    margin: 0 10%;
}

h2 {
    font-size: 2em;
    font-family: $font02;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 600;
    text-align: center;
    color: $black;
    margin: 0 auto;
    padding: 1em;
    padding-top: 2.4em;
    @media #{ $smallphone, $phone} { 
        font-size: 1.4em;
        margin-top: 0.6em;
    }
}

header {
    height: 100vh;
}
//------NAVIGATION------
.navbar {
    position: fixed;
    display: flex;
    z-index: 100;
    border-bottom: solid 1px $grey;
    max-width: 1600px;
    width: 100%;
    height: 86px;
    margin: 0 auto;
    transition: 0.5s;
    box-shadow: none;
    background-color: transparent;
    .logo {
        width: 50%;
        @media #{ $desktop, $tablet} {
            width: 40%;
        }
        @media #{ $smartphone} {
            width: 30%;
        }
        @media #{ $phone, $smallphone} { 
            width: 80%;
        }
        .logo--img {
            width: 120px;
            height: 100%;
            margin-left: 2em;
            background-image: url("../images/logo_white.png");
            background-repeat: no-repeat;
            background-size: cover; 
            background-size: 100%;
            background-position: center;
            transition: 0.5s;
            @media #{ $phone, $smallphone} { 
                background-image: url("../images/logo_black.png");
            }
        }
    }
    .menu {
        width: 50%;
        margin: 0 auto;
        @media #{ $desktop, $tablet} {
            width: 60%;
        }
        @media #{ $smartphone} {
            width: 70%;
        }
        .menu__list {
            list-style: none;
            display: flex;
            margin-right: 2em;
            .menu__list--item {
                padding: 20px 0;
                margin: 0 auto;
                .menu__list--link {
                    text-decoration: none;
                    color: $white;
                    text-transform: uppercase;
                    font-family: $font01;
                    letter-spacing: 0.1em;
                    font-weight: 400;
                    cursor: pointer;
                    &:hover {
                        color: $grey;
                        transition: 0.6s;
                    }
                }
            }
        }
    }
}

.nav-toggle {
    display: none;
}

//------TOGGLER------

@media #{$phone, $smallphone} {

    .navbar {
        background-color: rgba(250,250,250,0.9);
        height: 74px;
        box-shadow: none;
        border-bottom: 2px solid $black;
        position: fixed;
    }

    #menu {
        display: flex;
        position: absolute;
        background: rgba(250,250,250,0.9);
        top: 100%; 
        left: 0;
        width: 100%;
        transform: scale(1, 0);
        transform-origin: top; 
        transition: transform .4s ease-in-out;
        .menu__list {
            display: flex;
            flex-direction: column;
            .menu__list--item {
                margin: 0;
                padding: 0.8em 0;
                .menu__list--link {
                    color: $black;
                    padding: 1em;
                    font-size: 0.8em;
                }
            }
        }
    }
    #nav-toggle:checked + #menu {
        transform: scale(1, 1);
    }
    #nav-toggle:checked ~ #menu a {
        opacity: 1;
        transition: opacity .25s ease-in-out .35s;
    }

    .nav-toggle-label {
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hamburger {    
        display: block;
        background: $grey;
        height: 3px;
        width: 30px;
        border-radius: 2px;
        position: relative;
        transition: all .5s ease-in-out;
        &:before {
            display: block;
            background: $grey;
            height: 3px;
            width: 30px;
            border-radius: 2px;
            position: relative;
            transition: all .5s ease-in-out;
            content: '';
            position: absolute;
            bottom: 10px;
        }
        &:after {
            display: block;
            background: $grey;
            height: 3px;
            width: 30px;
            border-radius: 2px;
            position: relative;
            transition: all .5s ease-in-out;
            content: '';
            position: absolute;
            top: 10px;
        }
    }
}

//------SLIDESHOW------

.slideshow {
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 100vh;
}
  
.slideshow__img {
    position: absolute;
    z-index: 1;
    opacity:0; 
    background-position: 0% 0%;
    animation-name: slideshow; 
    animation-duration: 30s; 
    animation-iteration-count: infinite; 
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    @media #{$tablet, $smartphone, $phone, $smallphone} {
        background-size: cover;
        width: 100%;
        background-position: 0% 0%;

    }
}

.slideshow__img:nth-child(1) {
     animation-delay: 0s;
     background-image: url("../images/head-background/back-06.jpg");
}
.slideshow__img:nth-child(2) { 
    animation-delay: 10s;
    background-image: url("../images/head-background/back-04.jpg");
}
.slideshow__img:nth-child(3) { 
    animation-delay: 20s; 
    background-image: url("../images/head-background/back-05.jpg");
}

@keyframes slideshow {
    0%   { opacity: 0; }
    11.11%   { opacity: 1; }
    33.33%  { opacity: 1; }
    44.44%  { opacity: 0; }
    100% { opacity: 0; }
  }

//------HERO-------

.hero {
    position: absolute;
    margin: 0 auto;
    top: 16%;
    max-width: 1600px;
    width: 100%;
    z-index: 2;
    @media #{$tablet, $phone, $smallphone} { 
        top: 20%;
    }
    .hero--content {
        display: flex;
        flex-direction: column;
        align-items: center;
        .hero--img {
            width: 520px;
            height: 100%;
            margin: 0 auto;
            @media #{$phone, $smallphone} { 
                width: 9em;
            }
        }
        h2 {
            color: $white;
            font-size: 2.8em;
            padding-top: 0;
            letter-spacing: 0.5em;
            font-weight: 300;
            @media #{ $smartphone} {
               padding: 0 2em;
               margin-top: 0;
               font-size: 3em;
            }
            @media #{ $phone, $smallphone} { 
                font-size: 1.5em;
                letter-spacing: 0.1em;
                margin: 0;
                padding: 0 4em;
            }
        }
    }
}

//------BUTTON SCROLL DOWN TO SECTION ABOUT------

.button__scroll--down {
    width: 80px;
    height: 60px;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 10;
}

.button__scroll--down::after {
    content: '';
    display: block;
    border-bottom: 1px solid #FFF;
    border-right: 1px solid #FFF;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    transform: rotate(45deg);
    width: 20px;
    height: 20px;
    bottom: 25px;
    animation: scrollDown 0.5s infinite alternate;
}

.button__scroll--down::before {
    content: '';
    display: block;
    border-bottom: 1px solid #FFF;
    border-right: 1px solid #FFF;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
    animation: scrollDown 0.5s infinite alternate;
}

@keyframes scrollDown {
  0% {
    opacity: 1;
    -webkit-transform: rotate(45deg) translate(0px);
    -ms-transform: rotate(45deg) translate(0px);
    transform: rotate(45deg) translate(0px);
  }

  100% {
    opacity: 0.5;
    -webkit-transform: rotate(45deg) translate(3px, 3px);
    -ms-transform: rotate(45deg) translate(3px, 3px);
    transform: rotate(45deg) translate(3px, 3px);
  }
}

//------SECTION ICONS------

.icons__container {
    margin-top: 8em;
    margin-bottom: 8em;
    display: flex; 
    justify-content: space-around;
    @media #{$smartphone} { 
        margin: 1em 0;
    }
    @media #{$phone, $smallphone} { 
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .icons__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20em;
        height: 100%;
        .icons__content--icon {
            width: 4em;
            height: 4em;
            background-repeat: no-repeat;
            background-size: cover; 
            background-size: 100%;
            background-position: center;
        }
        .icons--first {
            background-image: url("../images/icons/graph-arrow.png");
        }
        .icons--second {
            background-image: url("../images/icons/infinity.png");
        }
        .icons--third {
            background-image: url("../images/icons/earth.png");
        }
        .icons__content--caption {
            margin: 2em 0;
            font-family: $font02;
            text-transform: uppercase;
            color: $black;
            letter-spacing: 0.3em;
            font-size: 1.4em;
            text-align: center;
        }
    }
}

//------SECTION ABOUT US------

.about {
    background-color: $black;
    color: $white;
    .about__head {
        color: $white;
    }
    .about__line {
        border-bottom: 1px solid $white;
    }
    .about__container {
        margin-top: 3.5em;
        .about__content {
            display: flex;
            flex-direction: column;
            margin-bottom: 2em;
            h3 {
                text-align: center;
                font-family: $font02;
                letter-spacing: 0.1em;
                font-size: 1.6em;  
                color: $lightgrey;
                font-weight: 300;
                @media #{$smallphone, $phone} { 
                    font-size: 1.4em;
                }
                span {
                    letter-spacing: 0.9em;
                    text-transform: uppercase;
                    @media #{$smallphone, $phone} { 
                        letter-spacing: 0.5em;
                    }
                }
            }
            p {
                text-align: center;
                font-family: $font02;
                font-weight: 300;
                color: $lightgrey;
                line-height: 1.6em;
                letter-spacing: 0.1em;
                @media #{$smallphone, $phone} { 
                   line-height: 2em;
                }
            }
        }
    }
}


//------BUTTON BACK TO UP------
.backtoup__button {
    position: fixed;
    bottom: 7em;
    right: 7em; 
    width: 3.5em;
    height: 3.5em;
    text-decoration: none;
    background-image: url("../images/button/button_up.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
    background-position: center;
    visibility: hidden;
    @media #{$smallphone} { 
        display: none;
    }
    &:hover {
        background-image: url("../images/button/button_up--hover.png");
    }
}

//------SECTION OUR LIDERS------

.leaders__container {
    margin-top: 3.5em;
    margin-bottom: 6em;
}

.leaders__content {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    @media #{ $tablet} {
        width: 100%;
    }
    @media #{ $smartphone, $phone, $smallphone} { 
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .leaders__photo {
        width: 30%;
        position: relative; 
        @media #{ $tablet} {
            width: 30%;
        }
        @media #{ $smartphone} {
            width: 60%;
            margin: 10% 0;
        }
        @media #{$phone} {
            width: 50%;
            margin: 10% 0;
        }
        @media #{ $smallphone} {
            width: 90%;
            margin: 10% 0;
        }
        img {
            display: block;
            width: 100%; 
          }
          .leaders__layer {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            opacity: 0;
            transition: 1.5s;
            &:hover {
                opacity: 1;
            }
            .leaders__desc {
                background-color: rgba(0, 0, 0, 0.6);
                height: 100%;
                width: 100%; 
                .leaders__desc--name {
                    padding-top: 10%;
                    font-family: $font02;
                    font-size: 1.4em;
                    letter-spacing: 0.2em;
                    text-transform: uppercase;
                    color: $white;
                    text-align: center;
                    margin: 1em 0;
                    @media #{ $desktop, $max} { 
                        font-size: 1.2em;
                    }
                    @media #{ $smartphone, $tablet} { 
                        font-size: 2em;
                    }
                    @media #{$smallphone, $phone} { 
                        font-size: 1.6em;
                    }
                }
                .leaders__desc--status {
                    font-size: 1em;
                    color: $white;
                    text-align: center;
                    letter-spacing: 0.3em;
                    @media #{ $smartphone, $tablet} { 
                        font-size: 1.4em;
                    }
                    @media #{$smallphone, $phone} { 
                        font-size: 1em;
                    }
                }
                .leaders__desc--line {
                    margin: 0 auto;
                    width: 20%;
                    border-bottom: solid 1px $grey;
                }
                .leaders__desc--desc {
                    font-family: $font01;
                    text-align: center;
                    padding: 0 10% 12% 10%;
                    color: $white;
                    letter-spacing: 0.2em;
                    font-weight: 300;
                    font-size: 10px;
                    line-height: 1.5em;
                    @media #{ $tablet, $smartphone, $smallphone, $phone} { 
                        display: none;
                    }
                    @media #{$max} { 
                        font-size: 0.9em;
                        line-height: 1.3em;
                    }
                    @media #{$desktop} { 
                        font-size: 0.8em;
                        line-height: 1em;
                    }
                }
            }
        }
    }
}

//------SECTION SENTENCE

.sentence {
    background-color: $black;
    .sentence__container {
        .sentence__head {
            color: $lightgrey;
            font-size: 2.2em;
            padding: 0;
            font-weight: 300;
            @media #{ $smallphone, $phone} { 
                font-size: 1.4em;
            }
        }
    }
} 

//------SECTION CONTACT------

.contact__container {
    padding-top: 5em;
    padding-bottom: 6em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    @media #{ $smartphone, $phone, $smallphone} { 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 0;
    }
    .contact__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20%;
        @media #{ $smartphone, $phone, $smallphone} { 
            width: 100%;
            margin-bottom: 20px;
        }
        .contact__icon {
            width: 2em;
            height: 2em;
            background-repeat: no-repeat;
            background-size: cover; 
            background-size: 100%;
            background-position: center;
        }
        .icon--address {
            background-image: url("../images/icons/location.png");
        }
        .icon--phone {
            background-image: url("../images/icons/phone.png");
        }
        .icon--mail {
            background-image: url("../images/icons/mail.png");
        }
        h4 {
            text-transform: uppercase;
            font-family: $font02;
            font-size: 1.2em;
            letter-spacing: 0.1em;
            text-align: center;
            padding: 0;
        }
        a {
            text-decoration: none;
            color: $black;
            padding-top: 0.5em;
            font-family: $font02;
        }
        p {
            font-family: $font02;
            line-height: 1.2em;
            text-align: center;
        }
    }
}

//------FOOTER------

footer {
    background-color: $black;
    .footer__container {
        border: solid 2px $black;
        p {
            color: $white;
            font-family: $font02;
            letter-spacing: 0.5em;
            text-align: center;
            padding: 1em;
            font-size: 0.8em;
            @media #{ $smartphone, $phone, $smallphone} { 
                font-size: 0.4em;
            }
        }
    }
}